*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  width: 150px;
  height: 30px;
}

body{
  padding: 50px;
}

li{
  list-style-type: none;
  margin: 5px 0;

}


ul{
  margin: 20px 0;
}

.movie, .serie-tv{
  margin-top: 50px;
  align-items: center;
}

.movie img{
  width: 220px;
  height: 330px;
  }

#no-results{
  margin-top: 20px;
}

#bandiera{
  margin-left: 5px;
  width: 30px;
  height: 20px;
}

.votazione{
  display: flex;
}

.fa-star{
  margin: 0 2px;
}
.fas.fa-star{
  color: rgb(240,230,140);
}

.lingua{
  display: flex;
}
